In [2]:
import pandas as pd
import numpy as np


mort_imp = pd.read_excel('data/all_mort_import.xlsx', 
                         sheet_name='cum_imp',
                         index_col=0)
factors = pd.read_excel('data/all_mort_import.xlsx', 
                         sheet_name='active_mort',
                         index_col=0,
                         usecols=['Age', 'Male General', 'Female General', 'Male Teacher', 'Female Teacher'])
factors.tail()

     Male General  Female General  Male Teacher  Female Teacher
Age
66       0.006462        0.004080      0.005762        0.003018
67       0.006769        0.004305      0.006094        0.003197
68       0.007077        0.004529      0.006427        0.003375
69       0.007385        0.004753      0.006760        0.003553
70       0.007693        0.004977      0.007093        0.003731

In [3]:
BASE_AGE = 18
MAX_ROW = mort_imp.shape[1]


def p_65_baseage(age: int) -> np.float64:
    """
    Calculates the probability of someone with base_age = age living to 65
    :param age: Age in year 2023
    :returns: Probability of living to 65
    """
    difference_from_base_age = age - BASE_AGE
    X = factors['Male General'].loc[age:].values
    Y = mort_imp.loc[age].values[:MAX_ROW - difference_from_base_age]
    return (1 - np.multiply(Y, X))[:(MAX_ROW - (5 + difference_from_base_age))]

np.prod(p_65_baseage(20))

np.float64(0.9414232829929288)